@using OneCenter.Web.Extension
@model IEnumerable<AdminViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.CreateActionLink("新增", "Create")
</p>
<table class="table table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>編輯</th>
        <th>刪除</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditActionLink("編輯", "Edit", routeValue: new { id = item.Id })
            </td>
            <td>
                @Html.DeleteActionLink("刪除", "Delete", routeValue: new { id = item.Id })
            </td>
        </tr>
    }
</table>